body {
  margin-top: 70px;
  margin-bottom: 50px;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.footer-text {
  margin: 20px 0;
}

.badge {
  background-color: orange;
}

.slider-header {
  color: white;
  font-stretch: expanded;
}